/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,700; 1,800; 0,800&display=swap');

html {
    height: fit-content;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5%;
    text-align: center;
    background: rgb(6, 4, 37);
    background-image: url('../images/background.svg');
    background-size: cover;
    color: white;
    background-repeat: repeat;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-shadow: 30px 30px 40px rgba(6, 4, 37, 0.4) inset;
}



h1 {
    font-weight: 800;
    font-size: 4em;
}

.heading {
    margin-bottom: 2.5em;
}

.intputStyle, .outputStyle{
    background-color: #00001a;
    color: white;
    resize: none;
    overflow: hidden;
}

.intputStyle:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

.output:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

.buttons {
    width: 100%;
}



.custom-btn {
    font-size: 1.5em;
    margin: 2%;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    background: #142C82;
    background: linear-gradient(0deg, rgb(21, 25, 85) 0%, rgb(37, 44, 114) 100%);
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #0e0e2b; 
}


.hidden{
    visibility: hidden;
}

.output{
    position:relative;
}

.output textarea{
    display: block;
    width: 100% !important;
}

.output .btn {
    padding: 3px 3px;
    font-size: 20px;
    position: absolute;
    right: 12px;
    bottom: 10px;
}


@media only screen and (max-width: 649px) {
    textarea {
        width: 100%;
    }

    .custom-btn {
        font-size: 0.9em;
        margin-top: 0%;
    }
}

.inputBox{
    display: flex;
    justify-content: center;
}
.inputBox .inputBoxStyle{
    background-color: #00001a;
    color: white;
    border: 2px solid rgb(109, 136, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 0.9em;
    resize: none;
    padding: 2px;
    margin-left: 2%;
}